{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/fileinput.js') }}"></script>
{% endblock %}

{% block body %}
<div id="wrapper">
    <h1>Catalog creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('catalog_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
