{% extends 'base.html.twig' %}
  {% block body %}
<<<<<<< HEAD


<div class="container">
    <div class="row" style="margin-top:60px;">
        <div class="col-md-12">
            <div id="carousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#carousel" data-slide-to="0"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <!--slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="{{ asset('images/3.jpg') }}" alt="">
                    </div>
                    <div class="item">
                        <img src="{{ asset('images/4.jpg') }}" alt="">
                    </div>
                    <div class="item">
                        <img src="{{ asset('images/1.jpg') }}" alt="">
                    </div>
                </div>

                <a href="#carousel" class="left carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#carousel" class="right carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-12 poststyle">
            {% for post in posts %}
                <p>{{ post.content }}</p>
                {% if is_granted('ROLE_MODERATOR') %}
                    <button type="button" class="btn btn-default btnstyle">
                        <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a></button>
                {% endif %}
                <br>
            {% endfor %}
            <br>
        </div>
    </div>
</div>
<br>

    {% endblock %}
