{% extends 'base.html.twig' %}
  {% block body %}
{% stylesheets
'css/bootstrap.css'
'css/style.css'
'css/sidebar.less'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</ul>
 <div class="container">
                        <div class="row" style="margin-top:50px;">
                        <br>
                            <br>
                            <br>
                            <div class="col-md-3">
                                <u1 class="sidebar-menu">
                                    <ul>
                                        <li class="active treeview">
                                            <a href="#">
                                                <i class="fa fa-dashboard"></i> <span>Guitars</span>
                                                <span class="pull-right-container">
                                                  <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li class="active"><a href="index.html.twig"><i class="fa fa-circle-o"></i> Acoustic</a></li>
                                                <li><a href="index.html.twig"><i class="fa fa-circle-o"></i> Electro</a></li>
                                            </ul>
                                        </li>

                                        <li class="treeview">
                                            <a href="#">
                                                <i class="fa fa-share"></i> <span>Guitars</span>
                                                <span class="pull-right-container">
                                                  <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li><a href="#"><i class="fa fa-circle-o"></i> Acoustic</a></li>
                                                <li>
                                                    <a href="#"><i class="fa fa-circle-o"></i> Electro
                                                        <span class="pull-right-container">
                                                          <i class="fa fa-angle-left pull-right"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="treeview-menu">
                                                        <li><a href="#"><i class="fa fa-circle-o"></i> Jamaxa</a></li>
                                                        <li>
                                                            <a href="#"><i class="fa fa-circle-o"></i> Cort
                                                                <span class="pull-right-container">
                                                                  <i class="fa fa-angle-left pull-right"></i>
                                                                </span>
                                                            </a>
                                                            <ul class="treeview-menu">
                                                                <li><a href="#"><i class="fa fa-circle-o"></i> 220</a></li>
                                                                <li><a href="#"><i class="fa fa-circle-o"></i> 169M</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                                </li>

                                            </ul>
                            </u1>
                            </div>
                            <div class="col-md-9">
                                <div id="carousel" class="carousel slide">
                                   <ol class="carousel-indicators">
                                       <li class="active" data-target="#carousel" data-slide-to="0"></li>
                                       <li data-target="#carousel" data-slide-to="1"></li>
                                       <li data-target="#carousel" data-slide-to="2"></li>
                                   </ol>
                                    <!--slides -->
                                    <div class="carousel-inner">

                                        <div class="item active">
                                            <img src="{{ asset('images/3.jpg') }}" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('images/4.jpg') }}" alt="">
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('images/1.jpg') }}" alt="">
                                        </div>
                                    </div>

                                    <a href="#carousel" class="left carousel-control" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a href="#carousel" class="right carousel-control" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>
                        </div>

                            <div class="col-md-12" style="margin-top:25px;">
                                {% for post in posts %}
                                <p>{{ post.content }}</p>
                                {% endfor %}
                            </div>
</div>
  {% endblock %}
